<?xml version="1.0"?>
<config>
    <modules>
        <Zefir_ConversionTracking>
            <version>0.1</version>
        </Zefir_ConversionTracking>
    </modules>
    <global>
        <blocks>
            <conversiontracking>
                <class>Zefir_ConversionTracking_Block</class>
            </conversiontracking>
        </blocks>
        <helpers>
            <conversiontracking>
                <class>Zefir_ConversionTracking_Helper</class>
            </conversiontracking>
        </helpers>
        <models>
            <conversiontracking>
                <class>Zefir_ConversionTracking_Model</class>
            </conversiontracking>
        </models>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <conversion_save_order>
                        <type>singleton</type>
                        <class>conversiontracking/observer</class>
                        <method>saveLastOrderId</method>
                    </conversion_save_order>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <conversion_save_order>
                        <type>singleton</type>
                        <class>conversiontracking/observer</class>
                        <method>saveLastOrderId</method>
                    </conversion_save_order>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <conversiontracking_amazon>
                    <file>zefir/trackers/amazon.xml</file>
                </conversiontracking_amazon>
                <conversiontracking_bouncex>
                    <file>zefir/trackers/bouncex.xml</file>
                </conversiontracking_bouncex>
                <conversiontracking_criteo>
                    <file>zefir/trackers/criteo.xml</file>
                </conversiontracking_criteo>
                <conversiontracking_facebook>
                    <file>zefir/trackers/facebook.xml</file>
                </conversiontracking_facebook>
                <conversiontracking_googleremarketing>
                    <file>zefir/trackers/googleremarketing.xml</file>
                </conversiontracking_googleremarketing>
                <conversiontracking_nextag>
                    <file>zefir/trackers/nextag.xml</file>
                </conversiontracking_nextag>
                <conversiontracking_pricegrabber>
                    <file>zefir/trackers/pricegrabber.xml</file>
                </conversiontracking_pricegrabber>
                <conversiontracking_shoppingcom>
                    <file>zefir/trackers/shoppingcom.xml</file>
                </conversiontracking_shoppingcom>
                <conversiontracking_shopzilla>
                    <file>zefir/trackers/shopzilla.xml</file>
                </conversiontracking_shopzilla>
                <conversiontracking_spark>
                    <file>zefir/trackers/spark.xml</file>
                </conversiontracking_spark>
            </updates>
        </layout>
    </frontend>

    <default>
        <conversions>
            <criteo>
                <js_url>//static.criteo.net/js/ld/ld.js</js_url>
            </criteo>
        </conversions>
    </default>

</config>