<?xml version="1.0"?>
<config>
  <modules>
    <Zefir_ConversionTracking>
      <version>0.1</version>
    </Zefir_ConversionTracking>
  </modules>
  <global>
    <blocks>
      <conversiontracking>
        <class>Zefir_ConversionTracking_Block</class>
      </conversiontracking>
    </blocks>
    <helpers>
      <conversiontracking>
        <class>Zefir_ConversionTracking_Helper</class>
      </conversiontracking>
    </helpers>
    <models>
      <conversiontracking>
        <class>Zefir_ConversionTracking_Model</class>
      </conversiontracking>
    </models>
  </global>
  <frontend>
    <checkout_onepage_controller_success_action>
      <observers>
        <conversion_save_order>
          <type>singleton</type>
          <class>conversiontracking/observer</class>
          <method>saveLastOrderId</method>
        </conversion_save_order>
      </observers>
    </checkout_onepage_controller_success_action>
    <checkout_multishipping_controller_success_action>
      <observers>
        <conversion_save_order>
          <type>singleton</type>
          <class>conversiontracking/observer</class>
          <method>saveLastOrderId</method>
        </conversion_save_order>
      </observers>
    </checkout_multishipping_controller_success_action>
    <layout>
      <updates>
        <zefir_conversiontracking>
          <file>zefir/conversions.xml</file>
        </zefir_conversiontracking>
      </updates>
    </layout>
  </frontend>
  
  <default>
    <conversions>
      <criteo>
        <js_url>//static.criteo.net/js/ld/ld.js</js_url>
      </criteo>
    </conversions>
  </default>
    
</config>